.navbar{
 background:#F97300;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}
.nav-link{
 margin-right: 1em !important;
}
.nav-link:hover{
 background: #f4f4f4;
 color: #f97300;
}
.navbar-collapse{
 justify-content: flex-end;
}
.navbar-toggler{
  background:#fff !important;
}
.navbar-collapse{
    justify-content: flex-end;
}
body{
  padding: 0;
  margin: 0;
  background-color : #f2f2f2;
  background-attachment: fixed;
   background-size: cover ;
   background-position: center;
}
header{
  background:#232323;
  padding:10px;
  color:#fff;
  font-family:"open sans";
  overflow:hidden;
  margin: 0;
}

.judul{
  float: left;
  margin: 0;
}
.menu{
  position: fixed;
  background: #f6f6f6;
  color: #232323;
  height: 100%;
  width: 200px;
  top: 0;
  left: -300px;
  -webkit-transition: left 0.2s;
  transition: left 0.2s;
  padding: 20px;
  border: 1px solid #ccc;
}
.menu ul{
  padding: 0;
}
.menu li{
  list-style-type: none;
  padding: 10px 0px;
}
.menu a{
  color: #232323;
  text-decoration: none;
  font-size: 10pt;
}
.tombol{
  float: right;
  background: transparent;
  padding: 10px;
  color: #fff;
  border: 1px solid #fff;
  cursor: pointer;
}
.slide-menu-tampil{
  left: 0 !important;
}

nav ul ul {
	display: none;
}

	nav ul li:hover > ul {
		display: block;
	}

  body {
     background: url('images/sdn006.jpg') no-repeat scroll;
     background-size: 100% 100%;
     min-height: 700px;
}

  ul{
list-style-type:none;
margin:0;
padding:0;
width:100%;
background-color:#1c1e21;
font-family:sans-serif;
border:1px solid #ccc;
overflow:hidden;
}
li{
float:left;
}
li a{
display:block;
text-decoration:none;
color:#c9d0db;
padding:14px 16px;
text-align:center;
}
li a:hover{
background-color:#555;
color:#fff;
}
li.active a{
background:c9d0db;
color:#fff;
}
li.right{
float:right;
}
ul.fixed-top{
 position: fixed;
 top: 0;
}
ul.fixed-bottom{
 position: fixed;
 bottom: 0;
}
h3 {
 display: block;
 font-size: 30;
 font-weight: bold;
color: #e2e0e0;
font-family: Arial, Helvetica, sans-serif;
}
